* { margin: 0; padding: 0; border-radius: 5px; font-family: Calibri; letter-spacing: 2.5px; }
.navbar{ background-color: #47140e; height: 85px; border-radius: 0px; }
.navbar-header { background-color: white; padding-bottom: 5px; padding-top: 5px; margin-left: 34%; }
.nav { margin-right: 34%; }
.nav li { background-color: white; text-align: center; }
.nav li a h5 { padding-left: 15px; padding-right: 15px; padding-top: 9px; padding-bottom: 9px; margin-Top: 5px; }
.profile-container{ float: left; width: 185px; height: 340px; margin: 15px;	border: 2px solid black; text-align: center; }
.profile-image { 	width: 181px; height: 200px; margin-bottom: 5px; display: inline-block; }
.all-profiles-holder { display: inline; }
.message-button { margin-top: 20px; display: inline-block; width: 100%; }
.individual-profile-image { height: 250px; width: 400px; display: inline-block; margin: 10px; }
.individual-profile-holder { width: 50%; display: inline-block; }
.gallery-holder { display:flex; flex-direction:row; margin: 20px; }
.form { margin-Top: 10px; border: 2px solid black; padding: 25px; background-color: #f2d6d3; }
.form-container{ text-align: center; 	margin-top: 4em; }
.form-container-child { display: inline-block; }
label { margin-right: 10px }
input {	height: 3em; width: 400px; padding: 10px; }
.btn { width: 300px; color: white; }
ul { text-align: center; }
ul li { list-style-type: none; }
.individual-profile-img { margin-bottom: 10; height: 250px; width: 200px; }
::placeholder { color: black; opacity: 0.7; /* Firefox */ font-size: 20px; padding-left: 15px; }
